
AT3/bin/Debug/AT3.exe
AT3/bin/Debug/AT3.pdb
AT3/obj/Debug/AT3.csprojAssemblyReference.cache
AT3/obj/Debug/AT3.exe
AT3/obj/Debug/AT3.g.resources
AT3/obj/Debug/AT3.pdb
AT3/obj/Debug/ContactsWindow.baml
AT3/obj/Debug/ContactsWindow.g.cs
AT3/obj/Debug/ContactsWindow.g.i.cs
AT3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AT3/obj/Debug/WritingWindow.baml
AT3/obj/Debug/WritingWindow.g.cs
AT3/obj/Debug/WritingWindow.g.i.cs