
AT3/bin/Debug/AT3.exe
AT3/bin/Debug/AT3.pdb
AT3/obj/Debug/AT3.csprojAssemblyReference.cache
AT3/obj/Debug/AT3.exe
AT3/obj/Debug/AT3.g.resources
AT3/obj/Debug/AT3.pdb
AT3/obj/Debug/ContactsWindow.baml
AT3/obj/Debug/ContactsWindow.g.cs
AT3/obj/Debug/ContactsWindow.g.i.cs
AT3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AT3/obj/Debug/WritingWindow.baml
AT3/obj/Debug/WritingWindow.g.cs
AT3/obj/Debug/WritingWindow.g.i.cs
AT3/obj/Debug/AT3.csproj.CoreCompileInputs.cache
AT3/obj/Debug/AT3.csproj.FileListAbsolute.txt
AT3/obj/Debug/AT3_MarkupCompile.cache
AT3/obj/Debug/AT3_MarkupCompile.i.cache
AT3/obj/Debug/AT3_MarkupCompile.i.lref
AT3/obj/Debug/AT3_MarkupCompile.lref
AT3/obj/Debug/App.g.i.cs
AT3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AT3/obj/Release/AT3_MarkupCompile.cache
AT3/obj/Release/AT3_MarkupCompile.lref
AT3/obj/Release/ContactsWindow.g.cs
AT3/obj/Release/WritingWindow.g.cs
