
AT3/bin/Debug/AT3.exe
AT3/bin/Debug/AT3.pdb
AT3/obj/Debug/AT3.csprojAssemblyReference.cache
AT3/obj/Debug/AT3.exe
AT3/obj/Debug/AT3.g.resources
AT3/obj/Debug/AT3.pdb
AT3/obj/Debug/MainWindow.baml
AT3/obj/Debug/MainWindow.g.cs
AT3/obj/Debug/MainWindow.g.i.cs
AT3/obj/Debug/ContactsWindow.baml
AT3/obj/Debug/ContactsWindow.g.cs
AT3/obj/Debug/ContactsWindow.g.i.cs
AT3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AT3/obj/Debug/WritingWindow.baml
AT3/obj/Debug/WritingWindow.g.cs
AT3/obj/Debug/WritingWindow.g.i.cs
AT3/obj/Debug/AT3.csproj.CoreCompileInputs.cache
AT3/obj/Debug/AT3.csproj.FileListAbsolute.txt
AT3/obj/Debug/AT3_MarkupCompile.cache
AT3/obj/Debug/AT3_MarkupCompile.i.cache
AT3/obj/Debug/AT3_MarkupCompile.i.lref
AT3/obj/Debug/AT3_MarkupCompile.lref
AT3/obj/Debug/App.g.i.cs
AT3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AT3/obj/Release/AT3_MarkupCompile.cache
AT3/obj/Release/AT3_MarkupCompile.lref
AT3/obj/Release/ContactsWindow.g.cs
AT3/obj/Release/WritingWindow.g.cs
TCPClient/bin/Debug/TCPClient.exe
TCPClient/bin/Debug/TCPClient.exe.config
TCPClient/bin/Debug/TCPClient.pdb
TCPClient/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TCPClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TCPClient/obj/Debug/TCPClient.csproj.CoreCompileInputs.cache
TCPClient/obj/Debug/TCPClient.csproj.FileListAbsolute.txt
TCPClient/obj/Debug/TCPClient.exe
TCPClient/obj/Debug/TCPClient.pdb
TCPClient/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TCPServer/bin/Debug/TCPServer.exe
TCPServer/bin/Debug/TCPServer.exe.config
TCPServer/bin/Debug/TCPServer.pdb
TCPServer/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TCPServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TCPServer/obj/Debug/TCPServer.csproj.CoreCompileInputs.cache
TCPServer/obj/Debug/TCPServer.csproj.FileListAbsolute.txt
TCPServer/obj/Debug/TCPServer.csprojAssemblyReference.cache
TCPServer/obj/Debug/TCPServer.exe
TCPServer/obj/Debug/TCPServer.pdb
TCPServer/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AT3/bin/Debug/System.Security.Cryptography.ProtectedData.dll
AT3/bin/Debug/System.Security.Cryptography.ProtectedData.xml
AT3/bin/Debug/AT3.exe.config
AT3/bin/Debug/test.Z-710.com.cer
ThreadingApp/bin/Debug/ThreadingApp.exe
ThreadingApp/bin/Debug/ThreadingApp.exe.config
ThreadingApp/bin/Debug/ThreadingApp.pdb
ThreadingApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ThreadingApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ThreadingApp/obj/Debug/ThreadingApp.csproj.CoreCompileInputs.cache
ThreadingApp/obj/Debug/ThreadingApp.csproj.FileListAbsolute.txt
ThreadingApp/obj/Debug/ThreadingApp.csprojAssemblyReference.cache
ThreadingApp/obj/Debug/ThreadingApp.exe
ThreadingApp/obj/Debug/ThreadingApp.pdb
ThreadingApp/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs